div {
  outline: none !important;
}

/**
 * Remove default wrapper on radio button from antd.
 */
.ant-radio-button-wrapper:not(:first-child)::before {
  opacity: 0;
}

.button {
  outline: none;
  border: 1px solid;
  min-height: 40px;
  background-color: #ffffff;
  color: #1890ff;
  border-radius: 1px;
  font-size: 20px;
  transition: none;
}

.button:focus,
.button:hover {
  border-color: inherit;
  color: #1890ff;
  background-color: #ffffff;
}

.clear-progress {
  height: 40px;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 700px;
  max-width: 840px;
  margin: 20px;
}

.diagram-icon {
  margin-left: 4px;
}

.dynamic-input {
  margin-bottom: 0px;
}

.dynamic-list {
  margin-top: 20px;
}

.dynamic-list-label {
  font-weight: 600;
}

.dot {
  height: 10px;
  width: 10px;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
}

.flex-container {
  display: flex;
}

.focus-input {
  margin-top: 20px !important;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.image {
  margin: 0px 20px;
  width: 270px;
  height: 190px;
  max-width: 440px;
  padding-bottom: 20px;
}

.input {
  border-color: #188fff41;
  border: none;
  width: 221px;
  height: 40.5px;
  color: #1890ff;
  outline: none;
  font-size: 20px;
  background-color: rgb(247, 247, 247);
}

.list-input {
  border-color: #188fff41;
  border: none;
  width: 217px;
  color: #1890ff;
  outline: none;
  font-size: 20px;
}

.input:focus {
  box-shadow: none;
  border-color: #188fff41;
}

.input::placeholder {
  color: rgba(24, 144, 255);
  opacity: 0.3;
  font-size: 20px;
}

.list-input::placeholder {
  color: rgba(24, 144, 255);
  opacity: 0.3;
  font-size: 17px;
}

.label {
  margin: 0;
  max-width: 100%;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  opacity: 0.7;
}

.navigation-button {
  height: 26px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
}

.navigation-buttons {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.next-button {
  margin: 20px 0px;
}

.next-button__description {
  color: #000000;
  margin-left: 5px;
  font-size: 12px;
  font-family: sans-serif;
}

.progress {
  width: calc(100% - 100px);
}

.progress-container {
  background-color: white;
  font-size: 20px;
  color: black;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}

.question {
  color: rgb(41, 41, 41);
  font-family: sans-serif;
  margin: 0;
  max-width: 100%;
  font-weight: unset;
  font-size: 24px;
  line-height: 32px;
  padding: 0px 0px 20px 0px;
}

.question-number {
  min-width: 45px;
  color: #1890ff;
  font-size: 14px;
  margin-top: 4px;
}

.question-number__arrow {
  color: rgba(24, 144, 255);
  font-size: 12px;
  margin: 4px;
}

.radio {
  border-radius: 4px;
  border: none !important;
  box-shadow: inset 0 0 0 1px rgba(24, 144, 255, 0.6) !important;
  opacity: 1;
  will-change: opacity;
  height: auto;
  display: block;
  margin: 0px 2px 5px 2px;
  border-radius: 3px !important;
  color: rgba(24, 144, 255);
}

.radio-inline {
  display: inline-block;
}

.radio-text {
  padding: 0px 20px;
}

.show {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.slide-up {
  animation: slide-up 0.5s ease-out;
}

.slide-down {
  animation: slide-down 0.5s ease-out;
}

.slider {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 440px;
}

.text-centered {
  text-align: center;
}

.visibleOnSmallScreen {
  visibility: visible;
}

.welcome-text {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.7;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@media only screen and (min-width: 630px) {
  .image {
    margin: 0px 50px;
    width: 400px;
    height: 290px;
  }
  .progress-container {
    justify-content: center;
    padding-left: 0;
  }
  .progress {
    width: 450px;
  }
  .slider {
    width: 440px;
  }
}

@media only screen and (min-width: 880px) {
  .progress {
    width: 700px;
  }
  .visibleOnSmallScreen {
    visibility: hidden;
  }
}

@media only screen and (min-width: 601px) {
  .input {
    font-size: 25px;
    width: 355px;
  }
  .input::placeholder {
    font-size: 20px;
  }
  .question-number {
    font-size: 18px;
  }
  .list-input {
    font-size: 25px;
    width: 292px;
  }
  .list-input::placeholder {
    font-size: 25px;
  }
  .question-number {
    margin-top: 0px;
  }
}
